{% load i18n %}
{% if user.is_staff %}
    <div class="menu_section">
        <h3>{% trans 'Settings' %}</h3>
        <ul class="nav side-menu">
            <li>
                <a>
                    <i class="fa fa-building"></i>
                    {% trans 'Tenants' %}
                    <span class="fa fa-chevron-down"></span>
                </a>
                <ul class="nav child_menu">
                    <li>

                        <a href="{% url 'TENANT_list' %}">
                            {% trans 'Tenants' %}
                        </a>

                    </li>

                </ul>
            </li>

        </ul>
    </div>
{% else %}

{% endif %}