{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <h1>
                {% trans 'List of' %} {{ model_name_plural }}
            </h1>
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>
                            {{ model_name_plural }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for element in list %}
                        <tr>
                            <td>
                                    {% if element.slug %}
                                        <a href="{% url element.url_name element.slug %}">{{ element }}</a>
                                    {% else %}
                                        <a href="{% url element.url_name element.id %}">{{ element }}</a>
                                    {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="actions">
                <a href="create">
                    <button class="btn btn-success">
                        {% trans 'Create' %}
                    </button>
                </a>

                <a href="{{ report_with_patients_url_reversed }}">
                    <button class="btn btn-success">
                        {% trans 'List with patients' %}
                    </button>
                </a>
            </div>
        </div>
    </div>
{% endblock %}